<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/viewed.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/items.css" />
    <link rel="stylesheet" href="../css/cart.css" />
    <title>Document</title>
  </head>

  <body>
    <%- include("header")%> <%- include("loader") %>

    <span id="cart-num">
      <% if (cart.length === 0){%>
      <h3>Your cart is empty!</h3>
      <%}else{%> My cart <%}%>
    </span>
    <div id="main-container">
      <div id="carts">
        <% for (i in cart){ let CART = cart[i]; let cartDetail =
        CART.cartdetails; for (j in cartDetail){ let actualCart = cartDetail[j];
        %>

        <span id="cart-item">
          <div id="cart-sec-1">
            <span id="cart-img">
              <img
                class="cart-img"
                src="../font/<%= actualCart.pic %> "
                alt=""
                srcset=""
              />
            </span>
            <span id="cart-det">
              <div id="name-price">
                <span id="name"><%= actualCart.name %></span>
                <span id="price">GH₵ <%= actualCart.price.toFixed(2) %></span>
              </div>
              <div id="add">
                <form onsubmit="shew()" action="/decrease-cart" method="post">
                  <input type="hidden" name="id" value="<%=CART.itemId%>" />
                  <button id="qty" class="qty dec" onclick="decreaseQuantity()">
                    -
                  </button>
                </form>

                <button id="qt" class="count"><%=CART.quantity%></button>
                <form onsubmit="shew()" action="/increase-cart" method="post">
                  <input type="hidden" name="id" value="<%=CART.itemId%>" />
                  <button
                    type="submit"
                    id="qty"
                    class="qty inc"
                    onclick="increaseQuantity()"
                  >
                    +
                  </button>
                </form>
              </div>
            </span>
          </div>
          <div id="cart-sec-2">
            <form onsubmit="shew()" id="view" action="/det" method="post">
              <input type="hidden" name="id" value="<%=CART.itemId%>" />
              <button id="view" class="view" type="submit">
                <i
                  style="font-size: 18px; margin-right: 5px"
                  class="mdi mdi-eye-outline"
                >
                </i>
                view
              </button>
            </form>

            <span id="remove">
              <form onsubmit="shew()" action="/delete-cart" method="post">
                <input type="hidden" name="id" value="<%=CART.itemId%>" />
                <button id="remove-btn" type="submit">
                  <i style="font-size: 18px" class="mdi mdi-delete"></i>
                  Delete
                </button>
              </form>
            </span>
          </div>
        </span>

        <%}} %>
      </div>
    </div>

    <% if (cart.length > 0){%>
    <span id="checkout-sec">
      <div id="total">
        <div>Total</div>
        <% var counter = 0; for (x in cart){ let CART_DET = cart[x]; let PRICES
        = CART_DET.cartdetails; for(y in PRICES){ let price = PRICES[y]; counter
        = counter + (price.price * CART_DET.quantity); } } %>
        <div><b>GH₵ <%=counter.toFixed(2)%> </b></div>
        %>
      </div>
      <div id="checkout">
        <form onsubmit="shew()" id="" action="/cart-one" method="post">
          <button id="checkout-btn" type="submit">Checkout</button>
        </form>
      </div>
    </span>
    <%} %> <%- include("viewed") %> <%- include("footer") %>
  </body>

  <script src="../js/search.js"></script>
  <script src="../js/scroll.js"></script>
</html>
