<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <!-- <link rel="stylesheet" href="../css/home.css" /> -->
    <link rel="stylesheet" href="../css/cart1.css" />
    <!-- <link rel="stylesheet" href="../css/side-panel.css" /> -->
    <title>Document</title>
  </head>
  <body>
    <%- include("header")%> <%- include("loader") %>
    <span id="cart-num"> </span>
    <div id="main-container">
      <div id="carts">
        <% var TotalPrice = 0; for (x in cart){ let CART_DET = cart[x]; let ITEM
        = CART_DET.cartdetails; for(i in ITEM){ let item = ITEM[i]; TotalPrice =
        TotalPrice + (item.price * CART_DET.quantity); %>

        <span id="cart-item">
          <div id="cart-sec-1">
            <span id="cart-img">
              <img
                class="cart-img"
                src="../font/<%=item.pic%>"
                alt=""
                srcset=""
              />
            </span>
            <span id="cart-det">
              <div id="name-price">
                <span id="name"><%=item.name%></span>
                <span id="price">GHS <%=item.price * CART_DET.quantity%></span>
              </div>
              <div id="add">
                <button id="qty" class="count">X<%=CART_DET.quantity%></button>
              </div>
            </span>
          </div>
        </span>

        <%} } %>
      </div>

      <div id="cart-summary">
        <span id="cart-summary-head">Cart's summary</span>
        <span id="price-summary">
          <div id="price-label">Price(<%=count%> items)</div>
          <div id="price-info">GHS <%=TotalPrice.toFixed(2)%></div>
        </span>

        <span id="price-summary">
          <div id="price-label">Delivery fee</div>
          <div id="price-info">GHS 32.00</div>
        </span>

        <span id="price-summary">
          <div id="price-label">Prepaid</div>
          <div id="price-info">GHS 00.00</div>
        </span>

        <span id="price-summary">
          <div id="total-label">Total</div>
          <div id="price-total">GHS <%= (TotalPrice + 32.00).toFixed(2)%></div>
        </span>

        <form onsubmit="shew()" action="/payment" method="get">
          <button id="address-btn" type="submit">Next</button>
        </form>
      </div>
    </div>

    <%- include("viewed") %> 

    <span id="checkout-sec">
      <div id="prepaid">EXSALE prepaid: 200.0</div>
      <div id="total">Total: GHS 56387</div>
      <div id="checkout">
        <form
          onsubmit="shew()"
          id="checkout-btn"
          action="/payment"
          method="get"
        >
          <button id="checkout-btn" type="submit">Checkout</button>
        </form>
      </div>
    </span>

    <%- include("footer")%>
  </body>

  <script src="../js/search.js"></script>
</html>
