<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/base.css" />
  <link rel="stylesheet" href="../css/detail.css" />

  <link rel="stylesheet" href="../css/home.css" />
  <link rel="stylesheet" href="../css/header.css" />
  <title>Document</title>
</head>

<body style="width: auto;">
  <div id="header-container"></div>
  <!-- MAIN HEADER -->
  <%- include('header')%>
  <!-- SUB HEADER -->
  <!-- <div id="subhead"></div> -->
  <div id="container-main">
    <div id="left-container">
      <div id="item-info">
        <%Object.keys(result).forEach(key => { var row = result[key]; const
          percentOff = (row.off/100)*row.price; const oldPriceWhole =
          Math.round((row.price + percentOff) * (10**2)); const oldPriceRounded
          = oldPriceWhole / (10**2); const total = (row.rate) * 5; const rate =
          Math.round((row.stars / total) * 5); %>
        <div id="main-pic">
          <img style="width: 100%" src="../font/<%=row.pic%>" alt="" srcset="" />
        </div>

        <div id="buy-info">
          <div id="name"><%=row.name%></div>
          <div id="new-pric" class="new-price">GHS <%=row.price%></div>
          <div id="V-box">
            <div id="old-price">GHS <%=oldPriceRounded%></div>
            <div id="percent-off">-<%=row.off%>%</div>
          </div>
          <div id="rate">
            <%for(let i = 0; i < rate; i++){ %> &starf; <%}%><%for(let i = 0;
              i < (5 - rate); i++){ %> &star; <%}%>
              <span>(<%=row.rate%> ratings)</span>
          </div>
          <div id="shipping-from">
            +shipping from <%=row.shipping%> <span id="fav"></span>
          </div>

          <div id="colors">
            <form style="width: 100%" action="/add-cart" method="post">
            
         
            <!-- <button id="hj" class="color" onclick="select()">40</button>
            <button id="jh" class="color 2">41</button>
            <button id="jh" class="color 3">42</button>
            <button id="jh" class="color 3">42</button>
            <button id="jh" class="color 3">42</button> -->
              
              
               <div id="V-boxk">
                               <% if (locals.varieties){ %>
                <button id="color">Variations</button>
                <% for (i in varieties){ %>
                  
                   <input type="radio" name="color" id="rad1" value="<%=varieties[i]%>" required><label for=""><%=varieties[i]%></label>
                <% }
              }else{ %>
                <input type="hidden" name="color" value="default">
              <% } %> 
               </div>
         
            
            <!-- <input type="radio" name="color" id="rad2" value="42"><label for="rad2">42</label>
            <input type="radio" name="color" id="rad3" value="43"><label for="rad3">43</label>
            <input type="radio" name="color" id="rad4" value="44"><label for="rad4">43</label> -->
           
          </div>

          <div id="colors">
            <!-- <button id="color">Sizes</button>
          <input type="radio" name="" id="" />
          <div class="choose-color">XXS</div>
          <input type="radio" name="" id="" />
        
          <div class="choose-color">M</div>
          <input type="radio" name="" id="" /> -->
            <!-- <div class="choose-color">L</div>
    
          <button class="color">L</button> -->
          </div>


          <div id="add">
            
              <input id="cnt" type="hidden" name="id" value="<%= id%>" />
              <button id="add-cart" type="submit">
                <i style="font-size: 20px; float:left;" class="mdi mdi-cart-plus"></i>
                ADD TO CART
              </button>
            </form>
          </div>
        </div>
        <!-- <li><%=row.First_name%></li> -->
        <%})%>
      </div>
      <div id="detail" class="">
        <div id="det-head">Description</div>
        <div class="ml-5" id="desc">
          <% Object.keys(result).forEach(key => { var row = result[key];%>
          <%=row.description%> <%})%>
        </div>
      </div>

      <div id="further-info">
        <span id="spec" class="further-info">
          <div class="further-info-head">SPECIFICATIONS</div>
          <div class="further-info-content">
            <% for (i in spec){ %>
              <%=spec[i]%>
            <% } %>
          </div>
        </span>

        <span id="key-feature" class="further-info">
          <div class="further-info-head">KEY FEATURES</div>
          <div class="further-info-content">
            <% for (i in spec){ %>
                <%=spec[i]%>
            <% } %>
          </div>
        </span>

        <span id="package" class="further-info">
          <div class="further-info-head">WHAT'S IN THE PACKAGE</div>
          <div class="further-info-content">
            <% for (i in spec){ %>
                <%=spec[i]%>
            <% } %>
          </div>
        </span>
      </div>      

    </div>
    <div id="right-container">
      <div id="delivery-info">
        <div id="del-info-1">Delivery information</div>
        <div id="del-info-2">
          <i style="font-size: 24px" class="mdi mdi-96px mdi-rotate-0 mdi-truck-fast-outline"></i>
          Free and fast delivery when you order within <b>Cape Coast</b>.
        </div>
        <div id="del-info-2">
          <i style="font-size: 24px" class="mdi mdi-96px mdi-rotate-0 mdi-hand-heart-outline"></i>
          Parcel is deliverd to you at your door step.
        </div>
        <div id="del-info-2">
          <i style="font-size: 24px" class="mdi mdi-96px mdi-rotate-0 mdi-clock-time-four-outline"></i>
          Estimated time of delivery when you order within 24hrs:
          <b><%=startDate%> to <%=endDate%></b>
        </div>
        <div id="del-info-2">
          <i style="font-size: 24px" class="mdi mdi-96px mdi-rotate-0 mdi-map-marker-outline"></i>
          Current address: <%if (locals.address){ %> <%=address%> <% } else{%>
          No address Specified <%}%>
          </div>
          <div id="del-info-1"></div>
        </div>

        <div id="delivery-info">
         <div id = "map" style = "width:100%; height:200px;"></div>
        </div>
      </div>
    </div>

     <div id="other-pics">
           <% for (i in otherPics){ %>
              <img id="other-pics-img" src="../font/<%=otherPics[i]%>" alt="" srcset="" />
            <% } %>
         
         



              <div id="viewedMainContainer">

      <div id="viewed-head">
    Similar items
  </div> 

    <div id="viewed-container">
   
      <% Object.keys(items).forEach(key => {
        const item = items[key]; %>
           <button id="viewed-item">
       <img style="width: 100%;" src="../font/<%=item.pic%>" alt="" srcset="">
       <div id="viewedItemDet">
         <span id="viewed-name">
           Item's namejhg
         </span>

         <span id="sug-prices">
           <div id="new">GHS 234.54</div>
           <div id="old">GHS 45.78</div>
         </span>
       </div>
      </button>
      <% }) %> 
  


   
      <div id="viewed-item">
       <img style="width: 100%;" src="../font/shu5.jpg" alt="" srcset="">
       <div id="viewedItemDet">
         <span id="viewed-name">
           Item's name
         </span>

         <span id="prices">
           <div id="new">GHS 234.54</div>
           <div id="old">GHS 45.78</div>
         </span>
       </div>
   </div>



  
 </div>
  </div>


        </div>     

        <div id="feedback">
          <span>
             <% for (i in spec){ %>
              <b><%=spec[i]%></b>
            <% } %>
          </span>

          <span>
            <% for (i in spec){ %>
              <b><%=spec[i]%></b>
            <% } %>
          </span>

          <span>
            <% for (i in spec){ %>
              <b><%=spec[i]%></b>
            <% } %>
          </span>
        </div>

        <%- include("footer")%>
</body>

</html>
<script src="../assets/js/search.js"></script>
<script src="../assets/js/detail.js"></script>
<script src = "https://maps.googleapis.com/maps/api/js"></script>



<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(17.088291, 78.442383),
    zoom: 1
  };
  var map = new google.maps.Map(mapCanvas, mapOptions);
  
var marker = new google.maps.Marker({
  position: new google.maps.LatLng(17.088291, 78.442383),
map: map,
  });
}
</script>




<script>
  document.querySelector(".dec").disabled = true;
  var counter = 1;
  let count = document.querySelector(".count");
  let cnt = document.querySelector("#cnt");

  /*function select(){
    document.querySelector("#jh").disabled=true;
    document.querySelector("#hj").disabled=false;
    document.querySelector("#hj").style.border = "2px navy solid";
  }*/

  function increaseQuantity() {
    counter++;
    cnt.value = counter;
    count.innerHTML = counter;
    document.querySelector(".dec").disabled = false;
    document.querySelector(".dec").style.cursor = "pointer";
  }

  // if (count.value < 1) {
  function decreaseQuantity() {
    counter--;
    cnt.value = counter;
    count.innerHTML = counter;
    if (count.innerHTML < 2) {
      document.querySelector(".dec").disabled = true;
      document.querySelector(".dec").style.cursor = "no-drop";
    }
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPEUTKYkMg3lDJOo3Pq93HfbbRC0kEstk&callback=myMap"></script>