<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/loader.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../font-awsome-icons/css/all.css" />
    <link rel="icon" href="../font/others/icon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="../material-icons/css/materialdesignicons.min.css"
      media="all"
    />

    <title>Document</title>
  </head>

  <body oncontextmenu="return false">
    <div id="header-container"><%- include('header') %></div>

    <!-- MAIN CONTAINER: THIS CONTAIN ALL THE BODY CONTENT -->
    <div id="main-container">
      <%# include("loader")%>
      <!-- THE FIRST SECTION OF THE MAIN PAGE -->
      <div id="topmost-section">
        <div class="category">
          <div id="cat-head">
            <i
              style="font-size: 24px"
              class="mdi mdi-96px mdi-rotate-0 mdi-view-list"
            ></i>
            <span> CATEGORIES</span>
          </div>
          <form action="/" method="post" onsubmit="shew()">
            <input type="hidden" name="cat" value="1" />
            <button id="cat">
              <i
                style="font-size: 20px"
                class="mdi mdi-96px mdi-rotate-0 mdi-tshirt-crew-outline"
              ></i>
              Fassion
            </button>
          </form>
          <form action="/" method="post" onsubmit="shew()">
            <input type="hidden" name="cat" value="2" />
            <button type="submit" id="cat">
              <i
                style="font-size: 20px"
                class="mdi mdi-96px mdi-rotate-0 mdi-food-takeout-box-outline"
              ></i
              >Supermarket
            </button>
          </form>

          <form action="/" method="post" onsubmit="shew()">
            <input type="hidden" name="cat" value="3" />
            <button id="cat">
              <i
                style="font-size: 20px"
                class="mdi mdi-96px mdi-rotate-0 mdi-cellphone"
              ></i
              >Phones & Accessories
            </button>
          </form>

          <form action="/" method="post" onsubmit="shew()">
            <input type="hidden" name="cat" value="3" />
            <button id="cat">
              <i
                style="font-size: 20px"
                class="mdi mdi-96px mdi-rotate-0 mdi-cellphone"
              ></i
              >Phones & Accessories
            </button>
          </form>

          <form action="/" method="post" onsubmit="shew()">
            <input type="hidden" name="cat" value="3" />
            <button id="cat">
              <i
                style="font-size: 20px"
                class="mdi mdi-96px mdi-rotate-0 mdi-cellphone"
              ></i
              >Phones & Accessories
            </button>
          </form>

          <form action="/" method="post" onsubmit="shew()">
            <input type="hidden" name="cat" value="3" />
            <button id="cat">
              <i
                style="font-size: 20px"
                class="mdi mdi-96px mdi-rotate-0 mdi-cellphone"
              ></i
              >Phones & Accessories
            </button>
          </form>

          <form action="/" method="post" onsubmit="shew()">
            <input type="hidden" name="cat" value="4" />
            <button id="cat">
              <i
                style="font-size: 20px"
                class="mdi mdi-96px mdi-rotate-0 mdi-desktop-mac"
              ></i
              >Computers
            </button>
          </form>

          <form action="/" method="post" onsubmit="shew()">
            <input type="hidden" name="cat" value="5" />
            <button id="cat">
              <i
                style="font-size: 20px"
                class="mdi mdi-96px mdi-rotate-0 mdi-tshirt-crew-outline"
              ></i
              >Home & Office
            </button>
          </form>

          <form action="/" method="post" onsubmit="shew()">
            <input type="hidden" name="cat" value="6" />
            <button id="cat">
              <i style="font-size: 20px" class="mdi mdi-alpha-o-box-outline"></i
              >Others
            </button>
          </form>
        </div>
        <div id="grid">
          <div id="long-bar"></div>
          <div id="big-container">
            <!-- <div id="topmost-left">
              
            </div> -->

            <div id="big-left">
              <div id="message">
                <div id="welcome-message">Welcome to nyankie</div>
                <div id="discount-message">Get items up to 70% off or get a coupon!</div>
              </div>
              <button id="view-more">
                <label for="">view more</label>
                <em class="mdi mdi-chevron-right-circle"></em>
              </button>
              <div id="super-deals">
                 <% Object.keys(items2).forEach(key => { var row = items2[key]; %>
            <div id="item-category">
              <form onsubmit="shew()" action="/detail" method="post">
                <input type="hidden" name="id" value="<%=row.id%>" />
                <button id="img-con1">
                  <img
                    id="item-category-img"
                    src="../font/<%=row.pic%>"
                    alt=""
                    srcset=""
                  />
                </button>
              </form>
              <div id="super-deal-price">GH₵ 23.00</div>
            </div>

            <%})%>
              </div>
            </div>
            <div id="big-right">
              <div id="top">
                <div class="top-left top">
                  <!-- <img
                class="mySlides slide-img"
                src="../font/others/01.png" 
                alt=""              
              />
              <img
                class="mySlides slide-img"
                src="../font/others/02.jpg" 
                alt=""               
              />
              <img
                class="mySlides slide-img"
                src="../font/others/03.jpg"  
                alt=""              
              /> -->
                </div>
                <div class="top-right top"></div>
              </div>
              <div id="bottom">
                <div id="bottom-head">
                  <div id="flash-sale-lable">Flash sales</div>
                  <div id="flash-sale-timmer">timmer</div>
                </div>
                <div class="bottom-container">
                  <% for (i in item){
                    let flashItem = item[i]; %>
                    <div id="flash-items">
                    <button id="flash-pic"><img id="flash-img" src="../font/<%=flashItem.pic%>" alt="" srcset=""></button>
                    <div id="flash-prices-discount">
                      <div id="flash-prices">
                        <div id="flash-new-price">GH₵ 23.00</div>
                        <div id="flash-old-price">GH₵ 45.00</div>
                      </div>
                      <div id="flash-discount">-45%</div>                      
                    </div>                    
                  </div>
                  <%} %> 
                  
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div id="demo">
        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="">
            <button id="img-con">
              <img id="img2" src="../font/40.jpg" alt="" srcset="" />
              <div id="text">Kitchen Untesils</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/shu4.jpg" alt="" srcset="" />
              <div id="text">Men's shoe</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/gettyimages-1025627712-612x612.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Women's shoe</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/gettyimages-1137505232-2048x2048.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Women's cloth</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/iphone-mock-up-realistic-design_23-2148358424.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Phones</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/51.jpg" alt="" srcset="" />
              <div title="hkjhkk" id="text">Men's cloth</div>
            </button>
          </div>
        </form>
      </div>
      <!-- <div id="demo" class="demo"> -->

      <div id="demo">
        <div id="weekly-deal">
          <div>Flash sales</div>
          <div id="flash-small" style="color: red; margin-left: 10px">
            <%- include("flash2") %>
          </div>
        </div>

        <div id="items-container">
          <div id="CONTAINER-BIG">
            <div id="flash"><%- include('flash3')%></div>
            <!-- <img style="width: 30%; height: 100%;" src="../font/others/new.png" alt="" srcset=""> -->
            <button id="view-all">VIEW ALL</button>
          </div>
          <div id="CONTAINER">
            <% Object.keys(items).forEach(key => { var row = items[key]; %>
            <div id="item-category">
              <form onsubmit="shew()" action="/detail" method="post">
                <input type="hidden" name="id" value="<%=row.id%>" />
                <button id="img-con1">
                  <img
                    id="item-category-img"
                    src="../font/<%=row.pic%>"
                    alt=""
                    srcset=""
                  />
                </button>
              </form>
              <div id="item-name"><%=row.name%></div>
            </div>

            <%})%>
          </div>
          <div id="CONTAINER">
            <% Object.keys(items2).forEach(key => { var row = items2[key]; %>
            <div id="item-category">
              <form onsubmit="shew()" action="/detail" method="post">
                <input type="hidden" name="id" value="<%=row.id%>" />
                <button id="img-con1">
                  <img
                    id="item-category-img"
                    src="../font/<%=row.pic%>"
                    alt=""
                    srcset=""
                  />
                </button>
              </form>
              <div id="item-name"><%=row.name%></div>
            </div>

            <%})%>
          </div>
        </div>
      </div>

      <div id="demo">
        <div id="weekly-deal">
          <div>Top deals</div>
          <%- include('flash2')%>
          <div>></div>
        </div>
        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/40.jpg" alt="" srcset="" />
              <div id="text">Kitchen Untesils</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/shu4.jpg" alt="" srcset="" />
              <div id="text">Men's shoe</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/gettyimages-1025627712-612x612.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Women's shoe</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/gettyimages-1137505232-2048x2048.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Women's cloth</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/iphone-mock-up-realistic-design_23-2148358424.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Phones</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/51.jpg" alt="" srcset="" />
              <div title="hkjhkk" id="text">Men's cloth</div>
            </button>
          </div>
        </form>
      </div>

      <div id="demo">
        <div id="weekly-deal">Weakly deal</div>
        <% Object.keys(ITEMS).forEach(key => { var row = ITEMS[key].toJSON();
        const percentOff = (row.off/100)*row.price; const oldPriceWhole =
        Math.round((row.price + percentOff) * (10**2)); const oldPriceRounded =
        oldPriceWhole / (10**2); const total = (row.rate) * 5; const rate =
        Math.round((row.stars / total) * 5); %>
        <div id="item">
          <form onsubmit="shew()" action="/det" method="post">
            <input type="hidden" name="id" value="<%=row.itemId%>" />
            <button id="image-btn">
              <img id="item-img" src="../font/<%=row.pic%>" alt="" srcset="" />
            </button>
          </form>
          <div id="item-name"><%=row.name%></div>
          <div id="prices">
            <div id="new-price">GH₵ <%=row.price.toFixed(2)%></div>

            <% if (row.off <= 0) { %> <% }else{ %>
            <div id="old-price">GH₵ <%=oldPriceRounded%></div>
            <% } %>
          </div>

          <div id="percent-off">
            <div id="star">
              <%for(let i = 0; i < rate; i++){ %>&starf;<%}%><%for(let i = 0; i
              < (5 - rate); i++){ %>&star;<%}%>(<%=row.rate%>)
            </div>

            <% if (row.off <= 0) { %> <% }else{ %>
            <span class="percent-off">-<%=row.off%>%</span>
            <% } %>
          </div>
        </div>

        <%})%>


               <% Object.keys(ITEMS).forEach(key => { var row = ITEMS[key].toJSON();
        const percentOff = (row.off/100)*row.price; const oldPriceWhole =
        Math.round((row.price + percentOff) * (10**2)); const oldPriceRounded =
        oldPriceWhole / (10**2); const total = (row.rate) * 5; const rate =
        Math.round((row.stars / total) * 5); %>
        <div id="item">
          <form onsubmit="shew()" action="/det" method="post">
            <input type="hidden" name="id" value="<%=row.itemId%>" />
            <button id="image-btn">
              <img id="item-img" src="../font/<%=row.pic%>" alt="" srcset="" />
            </button>
          </form>
          <div id="item-name"><%=row.name%></div>
          <div id="prices">
            <div id="new-price">GH₵ <%=row.price.toFixed(2)%></div>

            <% if (row.off <= 0) { %> <% }else{ %>
            <div id="old-price">GH₵ <%=oldPriceRounded%></div>
            <% } %>
          </div>

          <div id="percent-off">
            <div id="star">
              <%for(let i = 0; i < rate; i++){ %>&starf;<%}%><%for(let i = 0; i
              < (5 - rate); i++){ %>&star;<%}%>(<%=row.rate%>)
            </div>

            <% if (row.off <= 0) { %> <% }else{ %>
            <span class="percent-off">-<%=row.off%>%</span>
            <% } %>
          </div>
        </div>

        <%})%>

               <% Object.keys(ITEMS).forEach(key => { var row = ITEMS[key].toJSON();
        const percentOff = (row.off/100)*row.price; const oldPriceWhole =
        Math.round((row.price + percentOff) * (10**2)); const oldPriceRounded =
        oldPriceWhole / (10**2); const total = (row.rate) * 5; const rate =
        Math.round((row.stars / total) * 5); %>
        <div id="item">
          <form onsubmit="shew()" action="/det" method="post">
            <input type="hidden" name="id" value="<%=row.itemId%>" />
            <button id="image-btn">
              <img id="item-img" src="../font/<%=row.pic%>" alt="" srcset="" />
            </button>
          </form>
          <div id="item-name"><%=row.name%></div>
          <div id="prices">
            <div id="new-price">GH₵ <%=row.price.toFixed(2)%></div>

            <% if (row.off <= 0) { %> <% }else{ %>
            <div id="old-price">GH₵ <%=oldPriceRounded%></div>
            <% } %>
          </div>

          <div id="percent-off">
            <div id="star">
              <%for(let i = 0; i < rate; i++){ %>&starf;<%}%><%for(let i = 0; i
              < (5 - rate); i++){ %>&star;<%}%>(<%=row.rate%>)
            </div>

            <% if (row.off <= 0) { %> <% }else{ %>
            <span class="percent-off">-<%=row.off%>%</span>
            <% } %>
          </div>
        </div>

        <%})%>
      </div>

      <div id="demo">
        <div id="weekly-deal">Top deals</div>
        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/40.jpg" alt="" srcset="" />
              <div id="text">Kitchen Untesils</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/shu4.jpg" alt="" srcset="" />
              <div id="text">Men's shoe</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/gettyimages-1025627712-612x612.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Women's shoe</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/gettyimages-1137505232-2048x2048.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Women's cloth</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/iphone-mock-up-realistic-design_23-2148358424.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Phones</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/51.jpg" alt="" srcset="" />
              <div title="hkjhkk" id="text">Men's cloth</div>
            </button>
          </div>
        </form>
      </div>

      <div id="demo">
        <div id="weekly-deal">Top picks</div>

        <% Object.keys(ITEMS).forEach(key => { var row = ITEMS[key]; const
        percentOff = (row.off/100)*row.price; const oldPriceWhole =
        Math.round((row.price + percentOff) * (10**2)); const oldPriceRounded =
        oldPriceWhole / (10**2); const total = (row.rate) * 5; const rate =
        Math.round((row.stars / total) * 5); %>
        <div id="item">
          <form onsubmit="shew()" action="/det" method="post">
            <input type="hidden" name="id" value="<%=row.itemId%>" />
            <button id="image-btn">
              <!-- <div id="bbb">
            <i style="font-size: 100px" class="mdi mdi-96px mdi-rotate-0 mdi-tshirt-crew-outline"></i>
          </div>           -->
              <img id="item-img" src="../font/<%=row.pic%>" alt="" srcset="" />
            </button>
          </form>
          <div id="item-name"><%=row.name%></div>
          <div id="prices">
            <div id="new-price">GH₵ <%=row.price%></div>

            <% if (row.off <= 0) { %>
            <!-- <div id="old-price"></div> -->
            <% }else{ %>
            <div id="old-price">GH₵ <%=oldPriceRounded%></div>
            <% } %>
          </div>

          <div id="percent-off">
            <div id="star"></div>
            <!-- <span class="old-price">GHS 378</span> -->
            <% if (row.off <= 0) { %>
            <!-- <span class="percent-off"></span> -->
            <% }else{ %>
            <span class="percent-off">-<%=row.off%>%</span>
            <% } %>
          </div>
        </div>

        <%})%> <% Object.keys(ITEMS).forEach(key => { var row = ITEMS[key];
        const percentOff = (row.off/100)*row.price; const oldPriceWhole =
        Math.round((row.price + percentOff) * (10**2)); const oldPriceRounded =
        oldPriceWhole / (10**2); const total = (row.rate) * 5; const rate =
        Math.round((row.stars / total) * 5); %>
        <div id="item">
          <form onsubmit="shew()" action="/det" method="post">
            <input type="hidden" name="id" value="<%=row.itemId%>" />
            <button id="image-btn">
              <!-- <div id="bbb">
            <i style="font-size: 100px" class="mdi mdi-96px mdi-rotate-0 mdi-tshirt-crew-outline"></i>
          </div>           -->
              <img id="item-img" src="../font/<%=row.pic%>" alt="" srcset="" />
            </button>
          </form>
          <div id="item-name"><%=row.name%></div>
          <div id="prices">
            <div id="new-price">GH₵ <%=row.price%></div>

            <% if (row.off <= 0) { %>
            <!-- <div id="old-price"></div> -->
            <% }else{ %>
            <div id="old-price">GH₵ <%=oldPriceRounded%></div>
            <% } %>
          </div>

          <div id="percent-off">
            <div id="star"></div>
            <!-- <span class="old-price">GHS 378</span> -->
            <% if (row.off <= 0) { %>
            <!-- <span class="percent-off"></span> -->
            <% }else{ %>
            <span class="percent-off">-<%=row.off%>%</span>
            <% } %>
          </div>
        </div>
        <!-- <li><%=row.First_name%></li> -->
        <%})%>
      </div>

      <!-- </div> -->
    </div>
    <%- include("footer")%>
  </body>
</html>

<script src="../js/slideshow.js"></script>
