<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/loader.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/groups.css" />
    <link rel="stylesheet" href="../css/banargroup.css" />
    <link rel="stylesheet" href="../font-awsome-icons/css/all.css" />
    <link rel="icon" href="../font/others/new.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="../material-icons/css/materialdesignicons.min.css"
      media="all"
    />

    <title>Document</title>
  </head>

  <body oncontextmenu="return false">
    <div id="header-container"><%- include('header') %></div>

    <!-- MAIN CONTAINER: THIS CONTAIN ALL THE BODY CONTENT -->
    <div id="main-container">
      <%# include("loader")%>
      <!-- THE FIRST SECTION OF THE MAIN PAGE -->
      <%- include("topmost") %>

      <div id="demo">
        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="">
            <button id="img-con">
              <img id="img2" src="../font/40.jpg" alt="" srcset="" />
              <div id="text">Kitchen Untesils</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/shu4.jpg" alt="" srcset="" />
              <div id="text">Men's shoe</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/gettyimages-1025627712-612x612.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Women's shoe</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/gettyimages-1137505232-2048x2048.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Women's cloth</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/iphone-mock-up-realistic-design_23-2148358424.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Phones</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/51.jpg" alt="" srcset="" />
              <div title="hkjhkk" id="text">Men's cloth</div>
            </button>
          </div>
        </form>
      </div>
      <!-- <div id="demo" class="demo"> -->

      <%# include("groups") %> <%- include("banargroup") %> <%-
      include("groups") %>

      <div id="demo">
        <div id="weekly-deal">
          <div>Top deals</div>
          <%- include('flash2')%>
          <div>></div>
        </div>
        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/40.jpg" alt="" srcset="" />
              <div id="text">Kitchen Untesils</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/shu4.jpg" alt="" srcset="" />
              <div id="text">Men's shoe</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/gettyimages-1025627712-612x612.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Women's shoe</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/gettyimages-1137505232-2048x2048.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Women's cloth</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/iphone-mock-up-realistic-design_23-2148358424.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Phones</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/51.jpg" alt="" srcset="" />
              <div title="hkjhkk" id="text">Men's cloth</div>
            </button>
          </div>
        </form>
      </div>

      <div id="demo">
        <div id="weekly-deal">Weakly deal</div>
        <% Object.keys(ITEMS).forEach(key => { var row = ITEMS[key].toJSON();
        const percentOff = (row.off/100)*row.price; const oldPriceWhole =
        Math.round((row.price + percentOff) * (10**2)); const oldPriceRounded =
        oldPriceWhole / (10**2); const total = (row.rate) * 5; const rate =
        Math.round((row.stars / total) * 5); %>
        <div id="item">
          <form onsubmit="shew()" action="/det" method="post">
            <input type="hidden" name="id" value="<%=row.itemId%>" />
            <button id="image-btn">
              <img id="item-img" src="../font/<%=row.pic%>" alt="" srcset="" />
            </button>
          </form>
          <div id="item-name"><%=row.name%></div>
          <div id="prices">
            <div id="new-price">GH ₵ <%=row.price.toFixed(2)%></div>
          </div>

          <div id="percent-off">
            <% if (row.off <= 0) { %> <% }else{ %>
            <div id="old-price">GH ₵ <%=oldPriceRounded%></div>
            <% } %> <% if (row.off <= 0) { %> <% }else{ %>
            <span class="percent-off">-<%=row.off%>%</span>
            <% } %>
          </div>
        </div>

        <%})%> <% Object.keys(ITEMS).forEach(key => { var row =
        ITEMS[key].toJSON(); const percentOff = (row.off/100)*row.price; const
        oldPriceWhole = Math.round((row.price + percentOff) * (10**2)); const
        oldPriceRounded = oldPriceWhole / (10**2); const total = (row.rate) * 5;
        const rate = Math.round((row.stars / total) * 5); %>
        <div id="item">
          <form onsubmit="shew()" action="/det" method="post">
            <input type="hidden" name="id" value="<%=row.itemId%>" />
            <button id="image-btn">
              <img id="item-img" src="../font/<%=row.pic%>" alt="" srcset="" />
            </button>
          </form>
          <div id="item-name"><%=row.name%></div>
          <div id="prices">
            <div id="new-price">GH ₵ <%=row.price.toFixed(2)%></div>

            <% if (row.off <= 0) { %> <% }else{ %>
            <div id="old-price">GH ₵ <%=oldPriceRounded%></div>
            <% } %>
          </div>

          <div id="percent-off">
            <div id="star">
              <%for(let i = 0; i < rate; i++){ %>&starf;<%}%><%for(let i = 0; i
              < (5 - rate); i++){ %>&star;<%}%>(<%=row.rate%>)
            </div>

            <% if (row.off <= 0) { %> <% }else{ %>
            <span class="percent-off">-<%=row.off%>%</span>
            <% } %>
          </div>
        </div>

        <%})%> <% Object.keys(ITEMS).forEach(key => { var row =
        ITEMS[key].toJSON(); const percentOff = (row.off/100)*row.price; const
        oldPriceWhole = Math.round((row.price + percentOff) * (10**2)); const
        oldPriceRounded = oldPriceWhole / (10**2); const total = (row.rate) * 5;
        const rate = Math.round((row.stars / total) * 5); %>
        <div id="item">
          <form onsubmit="shew()" action="/det" method="post">
            <input type="hidden" name="id" value="<%=row.itemId%>" />
            <button id="image-btn">
              <img id="item-img" src="../font/<%=row.pic%>" alt="" srcset="" />
            </button>
          </form>
          <div id="item-name"><%=row.name%></div>
          <div id="prices">
            <div id="new-price">GH ₵ <%=row.price.toFixed(2)%></div>

            <% if (row.off <= 0) { %> <% }else{ %>
            <div id="old-price">GH ₵ <%=oldPriceRounded%></div>
            <% } %>
          </div>

          <div id="percent-off">
            <div id="star">
              <%for(let i = 0; i < rate; i++){ %>&starf;<%}%><%for(let i = 0; i
              < (5 - rate); i++){ %>&star;<%}%>(<%=row.rate%>)
            </div>

            <% if (row.off <= 0) { %> <% }else{ %>
            <span class="percent-off">-<%=row.off%>%</span>
            <% } %>
          </div>
        </div>

        <%})%>
      </div>

      <div id="demo">
        <div id="weekly-deal">Top deals</div>
        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/40.jpg" alt="" srcset="" />
              <div id="text">Kitchen Untesils</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/shu4.jpg" alt="" srcset="" />
              <div id="text">Men's shoe</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/gettyimages-1025627712-612x612.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Women's shoe</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/gettyimages-1137505232-2048x2048.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Women's cloth</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img
                id="img2"
                src="../font/iphone-mock-up-realistic-design_23-2148358424.jpg"
                alt=""
                srcset=""
              />
              <div id="text">Phones</div>
            </button>
          </div>
        </form>

        <form onsubmit="shew()" id="con" action="/" method="post">
          <input type="hidden" name="cat" />
          <div id="conj">
            <button id="img-con">
              <img id="img2" src="../font/51.jpg" alt="" srcset="" />
              <div title="hkjhkk" id="text">Men's cloth</div>
            </button>
          </div>
        </form>
      </div>

      <%- include("groups") %>

      <div id="demo">
        <div id="weekly-deal">Top picks</div>

        <% Object.keys(ITEMS).forEach(key => { var row = ITEMS[key]; const
        percentOff = (row.off/100)*row.price; const oldPriceWhole =
        Math.round((row.price + percentOff) * (10**2)); const oldPriceRounded =
        oldPriceWhole / (10**2); const total = (row.rate) * 5; const rate =
        Math.round((row.stars / total) * 5); %>
        <div id="item">
          <form onsubmit="shew()" action="/det" method="post">
            <input type="hidden" name="id" value="<%=row.itemId%>" />
            <button id="image-btn">
              <!-- <div id="bbb">
            <i style="font-size: 100px" class="mdi mdi-96px mdi-rotate-0 mdi-tshirt-crew-outline"></i>
          </div>           -->
              <img id="item-img" src="../font/<%=row.pic%>" alt="" srcset="" />
            </button>
          </form>
          <div id="item-name"><%=row.name%></div>
          <div id="prices">
            <div id="new-price">GH ₵ <%=row.price%></div>

            <% if (row.off <= 0) { %>
            <!-- <div id="old-price"></div> -->
            <% }else{ %>
            <div id="old-price">GH ₵ <%=oldPriceRounded%></div>
            <% } %>
          </div>

          <div id="percent-off">
            <div id="star"></div>
            <!-- <span class="old-price">GHS 378</span> -->
            <% if (row.off <= 0) { %>
            <!-- <span class="percent-off"></span> -->
            <% }else{ %>
            <span class="percent-off">-<%=row.off%>%</span>
            <% } %>
          </div>
        </div>

        <%})%> <% Object.keys(ITEMS).forEach(key => { var row = ITEMS[key];
        const percentOff = (row.off/100)*row.price; const oldPriceWhole =
        Math.round((row.price + percentOff) * (10**2)); const oldPriceRounded =
        oldPriceWhole / (10**2); const total = (row.rate) * 5; const rate =
        Math.round((row.stars / total) * 5); %>
        <div id="item">
          <form onsubmit="shew()" action="/det" method="post">
            <input type="hidden" name="id" value="<%=row.itemId%>" />
            <button id="image-btn">
              <!-- <div id="bbb">
            <i style="font-size: 100px" class="mdi mdi-96px mdi-rotate-0 mdi-tshirt-crew-outline"></i>
          </div>           -->
              <img id="item-img" src="../font/<%=row.pic%>" alt="" srcset="" />
            </button>
          </form>
          <div id="item-name"><%=row.name%></div>
          <div id="prices">
            <div id="new-price">GH ₵ <%=row.price%></div>

            <% if (row.off <= 0) { %>
            <!-- <div id="old-price"></div> -->
            <% }else{ %>
            <div id="old-price">GH ₵ <%=oldPriceRounded%></div>
            <% } %>
          </div>

          <div id="percent-off">
            <div id="star"></div>
            <!-- <span class="old-price">GHS 378</span> -->
            <% if (row.off <= 0) { %>
            <!-- <span class="percent-off"></span> -->
            <% }else{ %>
            <span class="percent-off">-<%=row.off%>%</span>
            <% } %>
          </div>
        </div>
        <!-- <li><%=row.First_name%></li> -->
        <%})%>
      </div>

      <!-- </div> -->
    </div>
    
  </body>
  <%- include("footer")%>
</html>

<script src="../js/slideshow.js"></script>
