<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/order.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("header")%>

    <div id="main-container">
      <div id="container-head">
        My orders
        <!-- <span id="pending">PENDING</span> -->
        <!-- <span id="delivered">CONFIRMED</span> -->
        <!-- <span id="delivered">DELIVERED</span> -->
      </div>
      <div id="orders">
        <% Object.keys(orders).forEach(key => {
          const order = orders[key]; %>

          <div class="order">
          <div id="order-head">
              <span id="ID">ID:<%=order.orderId%></span>
              <span id="date"><%=order.date%></span>
          </div>
          <div id="order">
            
            <div id="order-det">
              <div id="order-img">
                <img id="IMG" src="../font/<%=order.pic%>" alt="" srcset="">
            </div>
              <div id="sec1">
                  <div id="name"><%=order.name%></div>
                  <div id="others">
                      <span id="qty">X<%=order.quantity%></span>
                      <span id="vty"><%=order.variety%></span>
                    </div>
              </div>
              
            </div>

            <div id="sec2">
                  <button id="order-status">Pending</button>
              </div>
          </div>
        </div>
        <% }) %>
        
      </div>
    </div>
  </body>
</html>
